dj-database-url==0.4.1
Django==1.9.7
gunicorn==19.6.0
psycopg2==2.6.1
whitenoise==2.0.6
google-api-python-client==1.6.2
oauth2client==4.0.0
sendgrid==3.6.3
SQLAlchemy==1.1.6
django-extensions==1.7.7
newrelic==2.80.1.61
