table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

.welcome {
  max-width: 768px;
}
.welcome form {
    margin-top: 6vh;
}

.welcome form {
    background-color: white;
    padding: 23px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.welcome-filters {
    color: rgba(0, 0, 0, 0.60);
}

.welcome-filters h5 {
    color: rgba(0, 0, 0, 0.70);
}


body {
    background-image: url('background.jpeg')
    background-position-x: -70px;
    background-repeat: repeat-x;
}


.fight-crc-logo {
  max-height: 100px;
}

.date-picker {
    width: 102px;
    display: inline-block;
}

.date-picker-label {
    min-width: 36px;
    display: inline-block;
}

/* hide the filters for now */
#example .yadcf-filter-wrapper {
    display: none;
}

.yadcf-filter-wrapper > select {
  width: 100% !important;
}

.navbar {
    background: #FFFFFF;
    padding-bottom: 3px;
    outline: none;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.nav a {
    color: #0053A2 !important;
    font-size: 1.4em !important;
    text-transform: uppercase;
    font-weight: lighter;
    }
.nav > li > a:hover, .nav > li > a:active {
    text-decoration: underline;
    opacity: 1;
}

.navbar-brand img {
    width: 2.8em;
    height: 2.8em;
    margin-top: -0.8em;
}


.yadcf-filter-wrapper {
    box-sizing:border-box;
}

#example {
    border-top: 1px solid black;
}

#example .yadcf-filter-wrapper {
    margin-left: inherit;
}

#example .chosen-container {
    max-width: 100px;
}

#example .chosen-container-single-nosearch {
    width: 74px !important;
}

#example .chosen-choices {
    border-radius: 4px;
}

.yadcf-filter-wrapper > .yadcf-filter-reset-button,
.yadcf-filter-wrapper > .chosen-choices {
    font-size: 10px;
    height: 2.1em;
    position: relative;
    top: 1px;
}

/* trying to disable the reset button via options has odd side-effects */
.filter-crc-directed .yadcf-filter-reset-button,
.filter-immunotherapy .yadcf-filter-reset-button,
.filter-prior_io_ok .yadcf-filter-reset-button {
    display: none;
}

#example th {
    font-size: 10px;
    vertical-align: top;
    background-color: #eef5fc;
    text-align: center;
    padding: 10px 4px;
}

#example div, #example li {
    font-size: 12px;
}

#example th.filter-immunotherapy {
}

#jumbo-search {
    font-size: 30px;
    border: none;
    font-weight: lighter;
    border-radius: 0;
    box-shadow: none;
    padding: 31px 10px 24px 2px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.dataTables_wrapper {
    background-color: white;
}

#detail th {
    text-align: right;
    padding-right: 12px;
    vertical-align: top;
    white-space: pre;
    width: 25%;
}

#detail td {
    overflow: auto;
}

#detail .modal-title {
    text-align: center;
}

#detail .modal-footer {
    text-align: center;
}

#example tr td {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#detail-description,
#detail-inclusion_criteria,
#detail-exclusion_criteria {
    white-space: pre;
    overflow: scroll;
}


.contactus {
    margin-left: 100px;
    max-width: 800px;
}

.contactus label {
    min-width: 150px;
    vertical-align: top;
}

@media print {
    .dt-print-view table {
        table-layout: auto;
    }

    .dt-print-view td {
        font-size: 9px;
    }

    .dt-print-view th {
        font-size: 11px;
    }

    .dt-print-view h1 {
        font-size: 24px;
    }
}

.dataTables_wrapper
{
    padding-right:15px;
    padding-left:15px;

}

.chosen-container-multi .chosen-choices li.search-field input[type=text].default {
  height: 30px;
}

h2 {
    color: #337ab7;
    text-align: center;
    margin-top: 6vh;

}

.detail-arrow-wrapper {
    position: fixed;
    top: 48px;
    z-index: 1100;
}

.detail-arrow {
    position: fixed;
    font-size: 120px;
    cursor: pointer;
    opacity: 0.6;
    color: white;
}

.d-a-left {
    left: 30px;
}

.d-a-right {
    right: 30px;
}
