table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

.welcome {
  max-width: 768px;
}
.welcome form {
    margin-top: 20vh;
}

.welcome form {
    background-color: white;
    padding: 23px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.welcome-filters {
    color: rgba(0, 0, 0, 0.60);
}

.welcome-filters h5 {
    color: rgba(0, 0, 0, 0.70);
}


body {
    background-image: url('background.jpeg')
    background-position-x: -70px;
    background-repeat: repeat-x;
}


.fight-crc-logo {
  max-height: 100px;
}

.yadcf-filter-wrapper > select {
  width: 100% !important;
}

.navbar {
    background: #FFFFFF;
    padding-bottom: 3px;
    outline: none;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

.nav a {
    color: #0053A2 !important;
    font-size: 1.4em !important;
    text-transform: uppercase;
    font-weight: lighter;
    }
.nav > li > a:hover, .nav > li > a:active {
    text-decoration: underline;
    opacity: 1;
}

.navbar-brand img {
    width: 2.8em;
    height: 2.8em;
    margin-top: -0.8em;
}


.yadcf-filter-wrapper {
    box-sizing:border-box;
}
.yadcf-filter-wrapper > .yadcf-filter-reset-button,
.yadcf-filter-wrapper > .chosen-choices {
    font-size: 15px;
    height: 1.75em;
}

#jumbo-search {
    font-size: 30px;
    border: none;
    font-weight: lighter;
    border-radius: 0;
    box-shadow: none;
    padding: 31px 10px 24px 2px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.dataTables_wrapper {
    background-color: white;
}

#detail th {
    text-align: right;
    padding-right: 12px;
    vertical-align: top;
}

#detail .modal-title {
    text-align: center;
}

#detail .modal-footer {
    text-align: center;
}

#example tr td {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
