table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

.welcome {
  max-width: 768px;
}

.fight-crc-logo {
  max-height: 100px;
}

.yadcf-filter-wrapper > select {
  width: 100% !important;
}

.nav a{
    color: #0053A2 !important;
    font-size: 1.8em !important;
    font-weight: bold;
    }
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}