/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
COLORS
- Blue: #00549f
- Purple: #5a245a
- Green: #acbd27
- Light blue: #009bdb
- Orange: #e98300
- Grey: #adadad
*/

/* GENERAL */
html {
    font-size: 16px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

p {
    font-weight: 400;
}

/* HEADER + SEARCH */
header {
    height: 8vh;
}

header span {
    font-size: 1.4em;
}

header .search-icon {
    position: absolute;
    right: 10px;
    height: 22px;
}

header.back-page-header span {
    font-size: 1.3em;
    font-weight: 400;
}

.search-wrapper {
    margin-bottom: 8vh;
    animation-duration: 0.4s;
    z-index: -1;
}

.search-wrapper .search {
    z-index: 999;
    width: 100%;
    height: 8vh;
    border-color: #00549f;
}

.search-wrapper .search input {
    height: 100%;
    font-size: 1.4em;
    padding: 0 8px;
}

header .cancel-search {
    right: 0px;
    top: 0.1em;
    height: 8vh;
    font-size: 1em;
    font-weight: 300;
    color: #ffffff;
    border: none;
    z-index: 999;
}

header, header .cancel-search, .search-wrapper .search {
    background-color: #00549f;
}

.back-button {
    text-decoration: none;
}

/* TRIAL LIST */
.trial-list-wrapper {
    transition: all 1s ease-in;
}

.app div ul li {
    padding: 1.2em 0.8em;
}

.trial .arrow-icon-wrapper {
    width: 14px;
}

.trial .trial-content {
    width: 100%;
}

.trial .trial-content .title {
    font-size: 1.3em;
}

.trial .trial-content .second-line {
    display: block;
    justify-content: unset;
}

.trial .trial-content .second-line .locations {
    display: inline-block;
    float: left;
    font-size: 1.1em;
}

.trial .trial-content .second-line .locations img {
    height: 14px;
    width: auto;
    vertical-align: text-top;
}

.trial .trial-content .second-line .status {
    display: inline-block;
    float: right;
    font-size: 1.1em;
}

.trial .trial-content .second-line .new {
    margin-top: 3px;
    display: inline-block;
    float: right;
    clear: right;
    font-size: 0.9em;
    flex-grow: unset;
    flex-shrink: unset;
    white-space: unset;
}

.trial .trial-content .second-line .new .badge {
    font-size: unset;
}

/* TRIAL VIEW */
.trial-view-screen .trial-view-wrapper {
    overflow-y: auto;
}

.trial-view-screen .trial-view-wrapper .trial-name {
    font-size: 1.6em;
}

.trial-view-screen .trial-view-wrapper .share input {
    padding-right: 0.3em;
    font-size: 1em;
}

.trial-view-screen .trial-view-wrapper .heading {
    color: #00549f;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

.trial-view-screen .trial-view-wrapper p {
    font-size: 1.3em;
}

.trial-view-screen .trial-view-wrapper .content.keep-formatting {
    white-space: pre-line;
}

/* FILTER(S) SCREEN */
.filters-wrapper .filters-list .filter .title {
    font-size: 1.3em;
}

.filters-wrapper .filters-list .filter .second-line {
    font-size: 1.1em;
}

.filter-wrapper {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: #f3f3f3;
    flex-direction: column;
    justify-content: space-around;
}

.filter-screen .question-wrapper .question-content .question,
.filter-screen .question-content .question,
.filter-screen .question-wrapper .question,
.filter-screen .filter-wrapper .location-preferences {
    font-size: 2em;
}

.filter-screen .question-wrapper .question-content .question-body,
.filter-screen .question-content .question-body,
.filter-screen .question-wrapper .question-body {
    margin-top: 1em;
    font-size: 1.6em;
}
.filter-screen .question-wrapper .question-content .learn-more,
.filter-screen .question-wrapper .learn-more {
    font-size: 1.6em;
}

.filter-screen .question-wrapper .toggle-list {
    align-items: center;
}

.filter-screen .question-wrapper .toggle-list button.toggle {
    height: 4em;
    width: 100%;
    font-size: 1.4em;
}

.filter-screen .question-wrapper .toggle-list button.toggle.selected {
    background-color: #009bdb;
}

.filter-screen .question-wrapper .date-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-screen .question-wrapper .date-picker input {
    margin-bottom: 100px;
    height: 4em;
    font-size: 1.4em;
}

.filter-screen .question-wrapper .date-picker button {
    font-size: 1.4em;
}

/* LOCATION PREFERENCES */
.location-prompt,
.location-body {
    background-color: inherit;
    font-size: 1.3em;
}

.location-body .location-list select option {
    height: 2em;
    font-size: 1.4em;
}

.location-body .selectedLocations span {
    width: 100%;
    text-align: center;
}

.location-body .selectedLocations li {
    background-color: #009bdb;
}

.location-body input#display_trials_outside_locations {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.location-body label[for="display_trials_outside_locations"] {
    vertical-align: middle;
}

/* FOOTER */
footer {
    background-color: #adadad;
}

footer .last-updated {
    color: #ffffff;
}
