/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

    /* Added by Andrew */
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */


        /* Added by Andrew */
        padding: 0;
        margin: 0;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

header {
    background-color: rgb(76, 80, 211);
    color: white;
    height: 33px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer {
    background-color: rgb(75, 88, 113);
    color: rgb(210, 213, 220);
    font-size: 7px;
    padding: 6px 0 3px 0;
}

.icon-wrapper {
    display: flex;
    justify-content: space-around;
}

.icon-wrapper img {
    height: 22px;
}

.icon {
    cursor: pointer;
}

.last-updated {
    margin-top: 7px;
}

.active-icon {
    color: rgb(121, 169, 241);
}

.trial-list-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
}

.trial-list {
    margin: 0;
    padding: 0;
    background-color: white;
}

.trial {
    border-bottom: 0.8px solid lightgray;
    padding: 4px;
    display: flex;
}

.arrow-icon-wrapper {
    width: 20px;
}

.arrow {
    transform: rotate(0);
    transition: 1s;
}

@keyframes spin { 100% { transform:rotate(90deg); } }
.down {
    transform: rotate(90deg);
}

.trial-content {
    width: calc(100% - 20px);
}

.trial .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.second-line {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.second-line > *:not(:first-child) {
    margin-left: 5px;
}

.locations {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    text-align: left;
    font-size: 8px;
}