/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    */
}

html, body, .app {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}

/* Portrait layout (default) */
.xapp {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */

    /* Added by Andrew */
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .xapp {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */


        /* Added by Andrew */
        padding: 0;
        margin: 0;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

header {
    background-color: rgb(76, 80, 211);
    color: white;
    height: 33px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

header a {
    color: white;
    text-decoration: none;
    padding-left: 3px;
}

footer {
    background-color: rgb(75, 88, 113);
    color: rgb(210, 213, 220);
    font-size: 7px;
    padding: 6px 0 3px 0;
}

table {
    table-layout: fixed;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: rgb(239, 239, 239);
}

td {
    padding: 15px;
    word-wrap: break-word;
}

td .heading {
    text-align: center;
    font-size: 16px;
}

td .content, .centered-content {
    align-content: center;
    color: rgb(100, 100, 100);
}

td .centered-content {
    text-align: center;
}

.icon-wrapper {
    display: flex;
    justify-content: space-around;
}

.icon-wrapper img {
    height: 22px;
}

.icon {
    cursor: pointer;
}

.last-updated {
    margin-top: 7px;
    text-align: center;
}

.active-icon {
    color: rgb(121, 169, 241);
}

.trial-list-screen, .filters-screen, .filter-screen, .trial-view-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trial-list-wrapper, .filters-wrapper, .filter-wrapper, .trial-view-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
}

.trial-list, .filters-list {
    margin: 0;
    padding: 0;
    background-color: white;
}

.trial, .filter {
    border-bottom: 0.8px solid lightgray;
    padding: 4px;
    display: flex;
}

.filter-screen header {
    justify-content: left;
}

.arrow-icon-wrapper {
    width: 20px;
}

.arrow {
    transform: rotate(0);
    transition: 1s;
}

@keyframes spin { 100% { transform:rotate(90deg); } }
.down {
    transform: rotate(90deg);
}

.trial-content, .filter-content {
    width: calc(100% - 20px);
}

.trial .title, .filter .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 5px;
}

.second-line {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.second-line > *:not(:first-child) {
    margin-left: 5px;
}

.locations, .new, .status {
    flex-grow: 1;
    flex-basis: 0;
}

.new {
    text-align: center;
}

.status {
    text-align: right;
}

.locations {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    text-align: left;
    font-size: 11px;
}

.question-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: #f3f3f3;  /* TODO - this is just an approximation of the grey used in the mocks */
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    align-items: center;
}


.choice-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    height: 120px;
}

.yes-button {
    background-color: rgb(1, 149, 255);
    font-size: 3rem;
}

.no-button {
    font-size: 3rem;
    background-color: rgb(76, 80, 211);
}

.back-button {
    color: white;
    padding: 0 6px;
    font-size: 2rem;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;  /* TODO - this is just an approximation of the grey used in the mocks */
    height: 100%;
    padding-top: 40px;
}

.splash-logo {
    width: 50%;
}

.splash-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-footer {
    background-color: rgb(1, 149, 255);
    color: white;
    font-size: 18px;
    text-decoration: none;

    height: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.big-text {
    font-size: 35px;
    text-align: center
}

.splash-body {
    text-align: center;
    font-size: 26px;
    padding: 0 20px;
}

.medium-text {
    font-size: 17px;
    margin-bottom: 9px;
}

.mss-description {
    font-size: 14px;
}

.small-text {
    text-align: center;
    padding: 0 20px;
}

.badge {
    color: #fff;
    background-color: #6c757d;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.question-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-header {
    background-color: rgb(76, 80, 211);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-number {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: darkgray;
    background-color: rgb(75, 88, 113);
    color: rgb(210, 213, 220);
}

.question-body {
    color: rgb(75,88,113);
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
}

.question {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 0 5px;
}

.learn-more {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 238);
}

.learn-more:visited {
    color: rgb(0, 0, 238);
}

.location-body {
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.location-main {
}

.location-preferences {
    height: 70px;
    display: flex;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.location-prompt {
    background-color: lightgray;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 15px;
}

.location-body, .trials-available {
    background-color: lightgray;
}

.trials-available {
    text-align: center;
    font-size: 2.25rem;
    padding: 10px;
}

.gray-background {
    background-color: lightgray;
}

.location-list {
    width: 75%;
    height: 200px;
}

.location-list select {
    height: 100%;
    width: 100%;
}

.selectedLocations {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 5px;
    justify-content: center;
}

.selected-location {
    margin-left: 5px;
    font-size: 16px;
    margin-top: 5px;

}

.search-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.search {
    position: absolute;
    border: 6px solid rgb(70, 80, 211);
    border-radius: 0 0 6px 6px;
    width: 40%;
}

.search input {
    width: 100%;
}

.cancel-search {
    position: absolute;
    right: -0px;
    top: 1em;
}

.toggle-list {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-direction: column;
}

.toggle {
    margin: 0.2em 3em;
}

.toggle.selected {
    background-color: rgb(76, 80, 211);
    color: white;
    border-radius: 0.5em;
}

.trial-view-title {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 15px;
}

.trial-view-header {
  padding-left: 10px;
  justify-content: left;
  align-items: left;
}
