<!DOCTYPE html>
<html>
<head>
<title>Fight CRC Trials</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../static/js/jquery.dataTables.yadcf.js"></script>
  <script src="../static/js/chosen.jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>

  <link href="../static/css/chosen.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/fightcrc.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/jquery.dataTables.yadcf.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
  <style type="text/css">
    #disclaimer {
        display: none;
    }

    #disclaimed,label[for=disclaimed] {
        cursor: pointer;
    }

    #disclaimer .button-wrapper {
        height: 32px;
    }
    #disclaimer .button-wrapper .btn {
        float: right;
    }
  </style>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93476053-1', 'auto');
      ga('send', 'pageview');

      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
  </script>
</head>
<body>
{% load staticfiles %}
<nav class="navbar navbar-default" style="height:150px; outline:#a6dcf2 solid thick; background:#FFFFFF">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-left" href="/welcome"> <div style="width:150px"><img src="/static/fight-crc-logo.svg" style="background:#FFFFFF"></div></a>
    </div>
    <ul class="nav navbar-nav" style="padding-top:50px">
      <li><a href="/welcome">Home</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="http://fightcolorectalcancer.org">Fight CRC</a></li>

    </ul>
  </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
