{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
  <script src="../static/js/jquery.dataTables.yadcf.js"></script>
  <script src="../static/js/chosen.jquery.min.js"></script>
  <script type="text/javascript">
    function getQueryParams(queryString) {
      var query = (queryString || window.location.search).substring(1); // delete ?
      if (!query) {
        return false;
      }
      var params = {};

      _.each(query.split('&'), function(param) {
        var parts = param.split('=');
        var key = parts[0];
        var value = parts[1];

        // handle multi-valued parameters
        if (_.has(params, key)) {
          if (_.isArray(params[key])) {
            params[key].push(value);
          }
          else {
            params[key] = [params[key], value];
          }
        }
        else {
          params[key] = value;
        }
      });

      return params;
    }

    var params = getQueryParams();
    var pLocation = params.location;
    var pNctNumber = params.nctNumber;
    var pTherapyName = params.therapyName;
    var pSearchTerm = params.searchTerm;
    var pTreatmentType = params.treatmentType;
    var pPriorIo = params.priorIo;

    $(document).ready(function() {
      if (!Cookies.get('agreed-to-disclaimer')) {
          $('#disclaimer').modal({keyboard: false, show: true});
          $('#disclaimer .btn-primary').click(function() {
            if ($('#disclaimed').prop('checked')) {
                $('#disclaimer').modal('hide');
                Cookies.set('agreed-to-disclaimer', true, { expires: 365 });
            } else {
                $('label[for=disclaimed]').css('color', 'red');
            }
          });
      }

      var trials = {{ trials|safe }};

      var columns = _.map(trials.header, function(item) {

        var props = {
          title: item
        };

        if (item === 'Publications') {
          props['createdCell'] = function (cell, cellData) {
            var html = '';
            _.each(cellData, function(publication) {
              html += "<a target='_blank' href='"+publication + "'>" + publication +"</a></br>";
            })
            $(cell).html(html);
          };
        }
        if (item ==='NCT') {
         props['createdCell'] = function (cell, cellData) {
           $(cell).html("<a target='_blank' href='https://clinicaltrials.gov/ct2/show/"+cellData + "'>" + cellData +"</a>");
         };
        }
        return props;
      });

      var table = $('#example').DataTable( {
        data: trials.data,
        columns: columns,
        columnDefs: [
                  { "width": "75px", "targets": 2},
                  { "width": "40px", "targets": 3},
                  { "width": "105px", "targets": 6}
        ],
        responsive: true,
        dom: 'Bfrtip',
        buttons: [
          // JK: hack to prevent multi-select from messing with column headers when printing
          {
            extend : 'print',
            exportOptions : {
              columns : ':visible',
              format : {
                header : function (mDataProp, columnIdx) {
                  var htmlText = '<span>' + mDataProp + '</span>';
                  var jHtmlObject = jQuery(htmlText);
                  jHtmlObject.find('div').remove();
                  var newHtml = jHtmlObject.text();
                  return newHtml;
                }
              }
            }
          }
        ]
      });

      var locations = [];
      _.each(trials.data, function(item) {
        _.each(item[4], function(location) {
          var cleaned = location.trim();
          if (cleaned.length > 0) {
            locations.push(cleaned);
          }
        })
      });

      var filterFunction = function(filterVal, columnVal, rowValues, stateVal) {
        if (filterVal === null || filterVal.length == 0 || (filterVal.length == 1 && filterVal[0].length == 0)){
          return true;
        }
        var found = _.find(filterVal, function(value) {
          var splitValues = columnVal.split(',');
          return value.length > 0 && _.contains(splitValues, value);
        });
        return found !== undefined;
      };
      var columnFilters = [ ];
      var columnsWithoutMultiselect = ['Comments', 'Publications', 'Drug'];

      for (i = 0; i < columns.length; i++) {
        var columnTitle = columns[i].title;
        if (!_.contains(columnsWithoutMultiselect, columnTitle)) {
          if (columnTitle === 'Locations') {
            columnFilters.push({column_number: i,
              filter_type: "multi_select_custom_func",
              select_type: 'chosen',
              custom_func: filterFunction,
              data: _.uniq(locations)
            })
          } else {
            columnFilters.push({
              column_number: i,
              filter_type: "multi_select",
              select_type: 'chosen'
            })
          }
        }
      }

      var detail_data;
      table.on('click', 'tbody tr', function() {
        detail_data = table.row(this).data();
        $('#detail-category').html(detail_data[0]);
        $('#detail-drug').html(detail_data[1]);
        var trial_type = {
            'Im': 'Immunotherapy', 'Tw': 'Treading Water', 'Im OR Tw': 'Immunotherapy OR Treading Water'
        }[detail_data[3]];
        $('#detail-type').html(trial_type);
        $('#detail-locations').html(detail_data[4].join(', '));
        $('#detail-nct').html('<a target="_blank" href="https://clinicaltrials.gov/ct2/show/' + detail_data[2] + '">' + detail_data[2] + '</a>');
        $('#detail-comments').html(detail_data[5]);
        $('#detail-prior-io').html(detail_data[6]);
        var pubs = _.map(detail_data[7], function (pub) {
            return '<a target="_blank" href="' + pub + '">' + pub + '</a>';
        }).join('<br>');
        $('#detail-publications').html(pubs);
        $('#detail').modal('show');
      });
      yadcf.init(table, columnFilters);

      if (pLocation) {
        yadcf.exFilterColumn(table, [[4, pLocation]]);
      }
      if (pTreatmentType && pTreatmentType === 'immunotherapy') {
        // Im = Immunotherapy
        // Tw = Treading water (CRC trial)
        // Im OR Tw = either
        yadcf.exFilterColumn(table, [[3, ['Im', 'Im OR Tw']]]);
      }
      if (pPriorIo && pPriorIo === 'yes') {
        yadcf.exFilterColumn(table, [[6, 'Yes']])
      }
      if (pNctNumber) {
        yadcf.exFilterColumn(table, [[2, pNctNumber]]);
      }
      if (pTherapyName) {
        table = table.column(1).search(pTherapyName);
      }
      if (pSearchTerm) {
        table = table.search(pSearchTerm).draw();
      }
      table.draw();

      $('#trial-closed').click(function() {
        var user = prompt('Please enter your name');
        if (user) {
            $.post(
                '/send-trial-closed-email/',
                {'drug': detail_data[1], 'nct': detail_data[2], 'user': user},
                function (result) {
                    alert('Thanks for letting us know!');
                });
        }
      });
    } );
  </script>

<table id="example" class="display" cellspacing="0" width="100%">
</table>
<div id="disclaimer" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <div class="modal-title">{% tag "disclaimer-header" %}</div>
          </div>
          <div class="modal-body">
              <pre>{% tag "disclaimer" %}</pre>
              <input type="checkbox" id="disclaimed"> <label for="disclaimed">{% tag "disclaimer-accept" %}</label>
              <div class="button-wrapper"><input type="button" class="btn btn-primary" value="Continue to search"></div>
          </div>
        </div>
    </div>
</div>

<div id="detail" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="detail-drug" class="modal-title"></div>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Category</th>
                        <td id="detail-category"></td>
                    </tr>
                    <tr>
                        <th>Trial Type</th>
                        <td id="detail-type"></td>
                    </tr>
                    <tr>
                        <th>Location(s)</th>
                        <td id="detail-locations"></td>
                    </tr>
                    <tr>
                        <th>NCT #</th>
                        <td id="detail-nct"></td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td id="detail-comments"></td>
                    </tr>
                    <tr>
                        <th>Allow prior immunotherapy?</th>
                        <td id="detail-prior-io"></td>
                    </tr>
                    <tr>
                        <th>Publications</th>
                        <td id="detail-publications"></td>
                    </tr>
                </table>
                <input id="trial-closed" type="button" class="btn btn-secondary" value="Notify that this trial has closed.">
            </div>
        </div>
    </div>
</div>
{% endblock %}
