{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
  <script src="../static/js/jquery.dataTables.yadcf.js"></script>
  <script src="../static/js/chosen.jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      if (!Cookies.get('agreed-to-disclaimer')) {
          $('#disclaimer').modal({keyboard: false, show: true});
          $('#disclaimer .btn-primary').click(function() {
            if ($('#disclaimed').prop('checked')) {
                $('#disclaimer').modal('hide');
                Cookies.set('agreed-to-disclaimer', true, { expires: 365 });
            } else {
                $('label[for=disclaimed]').css('color', 'red');
            }
          });
      }
      var trials = {{ trials|safe }};
      var columns = _.map(trials.header, function(item) {

        var props = {
          title: item
        };

        if (item === 'Publications') {
          props['createdCell'] = function (cell, cellData) {
            var html = '';
            _.each(cellData, function(publication) {
              html += "<a target='_blank' href='"+publication + "'>" + publication +"</a></br>";
            })
            $(cell).html(html);
          };
        }
        if (item ==='NCT') {
         props['createdCell'] = function (cell, cellData) {
           $(cell).html("<a target='_blank' href='https://clinicaltrials.gov/ct2/show/"+cellData + "'>" + cellData +"</a>");
         };
        }
        return props;
      });

      var table = $('#example').DataTable( {
        data: trials.data,
        columns: columns,
        columnDefs: [
        ],
        dom: 'Bfrtip',
        buttons: [
          // JK: hack to prevent multi-select from messing with column headers when printing
          {
            extend : 'print',
            exportOptions : {
              columns : ':visible',
              format : {
                header : function (mDataProp, columnIdx) {
                  var htmlText = '<span>' + mDataProp + '</span>';
                  var jHtmlObject = jQuery(htmlText);
                  jHtmlObject.find('div').remove();
                  var newHtml = jHtmlObject.text();
                  return newHtml;
                }
              }
            }
          }
        ]
      } );

      var columnFilters = [];
      var columnsWithoutMultiselect = ['Comments', 'Publications', 'Drug'];
      for (i = 0; i < columns.length; i++) {
        if (!_.contains(columnsWithoutMultiselect, columns[i].title)) {
          columnFilters.push({
              column_number: i,
              filter_type: "multi_select",
              select_type: 'chosen'
          })
        }
      }

      table.on('click', 'tbody tr', function() {
        var data = table.row(this).data();
        $('#detail-category').html(data[0]);
        $('#detail-drug').html(data[1]);
        var trial_type = {
            'Im': 'Immunotherapy', 'Tw': 'Treading Water', 'Im OR Tw': 'Immunotherapy OR Treading Water'
        }[data[3]];
        $('#detail-type').html(trial_type);
        $('#detail-locations').html(data[4].join(', '));
        $('#detail-nct').html('<a target="_blank" href="https://clinicaltrials.gov/ct2/show/' + data[2] + '">' + data[2] + '</a>');
        $('#detail-comments').html(data[5]);
        $('#detail-prior-io').html({1: 'Yes', 0: 'No'}[data[6]]);
        var pubs = _.map(data[7], function (pub) {
            return '<a target="_blank" href="' + pub + '">' + pub + '</a>';
        }).join('<br>');
        $('#detail-publications').html(pubs);
        $('#detail').modal('show');
      });
      yadcf.init(table, columnFilters);
    } );
  </script>

<table id="example" class="display" cellspacing="0" width="100%">
</table>
<div id="disclaimer" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <div class="modal-title">{% tag "disclaimer-header" %}</div>
          </div>
          <div class="modal-body">
              <pre>{% tag "disclaimer" %}</pre>
              <input type="checkbox" id="disclaimed"> <label for="disclaimed">{% tag "disclaimer-accept" %}</label>
              <div class="button-wrapper"><input type="button" class="btn btn-primary" value="Continue to search"></div>
          </div>
        </div>
    </div>
</div>

<div id="detail" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div id="detail-drug" class="modal-title"></div>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Category</th>
                        <td id="detail-category"></td>
                    </tr>
                    <tr>
                        <th>Trial Type</th>
                        <td id="detail-type"></td>
                    </tr>
                    <tr>
                        <th>Location(s)</th>
                        <td id="detail-locations"></td>
                    </tr>
                    <tr>
                        <th>NCT #</th>
                        <td id="detail-nct"></td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td id="detail-comments"></td>
                    </tr>
                    <tr>
                        <th>Allow prior immunotherapy?</th>
                        <td id="detail-prior-io"></td>
                    </tr>
                    <tr>
                        <th>Publications</th>
                        <td id="detail-publications"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
