{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
  <script src="../static/js/jquery.dataTables.yadcf.js"></script>
  <script src="../static/js/chosen.jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var trials = {{ trials|safe }};
      var columns = _.map(trials.header, function(item) {

        var props = {
          title: item
        };

        if (item === 'Publications') {
          props['createdCell'] = function (cell, cellData) {
            var html = '';
            _.each(cellData, function(publication) {
              html += "<a target='_blank' href='"+publication + "'>" + publication +"</a></br>";
            })
            $(cell).html(html);
          };
        }
        if (item ==='NCT') {
         props['createdCell'] = function (cell, cellData) {
           $(cell).html("<a target='_blank' href='https://clinicaltrials.gov/ct2/show/"+cellData + "'>" + cellData +"</a>");
         };
        }
        return props;
      });

      var table = $('#example').DataTable( {
        data: trials.data,
        columns: columns,
        dom: 'Bfrtip',
        buttons: [
          // JK: hack to prevent multi-select from messing with column headers when printing
          {
            extend : 'print',
            exportOptions : {
              columns : ':visible',
              format : {
                header : function (mDataProp, columnIdx) {
                  var htmlText = '<span>' + mDataProp + '</span>';
                  var jHtmlObject = jQuery(htmlText);
                  jHtmlObject.find('div').remove();
                  var newHtml = jHtmlObject.text();
                  return newHtml;
                }
              }
            }
          }
        ]
      } );

      var columnFilters = [];
      var columnsWithoutMultiselect = ['comments', 'publications', 'drug'];
      for (i = 0; i < columns.length; i++) {
        if (!_.contains(columnsWithoutMultiselect, columns[i].title)) {
          columnFilters.push({
              column_number: i,
              filter_type: "multi_select",
              select_type: 'chosen'
          })
        }
      }

      yadcf.init(table, columnFilters);
    } );
  </script>

<table id="example" class="display" cellspacing="0" width="100%">
</table>
<div id="disclaimer">
{% tag "disclaimer" %}
</div>
{% endblock %}
