{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8">
        <h4><a href="http://fightcolorectalcancer.org/">FightCRC Home</a></h4>
        <h4><a href="http://fightcolorectalcancer.org/">What is CRC Trials Finder?</a></h4>
        <h4><a href="http://fightcolorectalcancer.org/about/contact-us/">Contact FightCRC</a></h4>
      </div>
      <div class="col-sm-4">
        <a href="http://fightcolorectalcancer.org/">
          <img src="/static/fight-crc-logo.svg" class="img-responsive fight-crc-logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Search for open clinical trials for colorectal cancer</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
  </div>


{% endblock %}
