{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <div class="container welcome">
    <div class="row">
      <div class="col-sm-8">
        <h4><a href="http://fightcolorectalcancer.org/">FightCRC Home</a></h4>
        <h4><a href="http://fightcolorectalcancer.org/">What is CRC Trials Finder?</a></h4>
        <h4><a href="http://fightcolorectalcancer.org/about/contact-us/">Contact FightCRC</a></h4>
      </div>
      <div class="col-sm-4">
        <a href="http://fightcolorectalcancer.org/">
          <img src="/static/fight-crc-logo.svg" class="img-responsive fight-crc-logo">
        </a>
      </div>
    </div>
    <form action="../" method="GET">
    <div class="row">
      <div class="col-sm-12">
        <h3>Search for open clinical trials for colorectal cancer</h3>
      </div>
    </div>
    <div class="row welcome-filters">
      <div class="col-sm-4">
        <h5>Type of cancer</h5>
        <div class="checkbox">
          <label><input type="checkbox" value="colon">Colon cancer</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="rectal">Rectal cancer</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="colorectal" disabled>Colorectal</label>
        </div>
      </div>
        <h5>Geography</h5>
        <div class="checkbox">
          <select id="geo" name="location"></select>
        </div>
      <div class="col-sm-4">
        <h5>Type of treatment</h5>
        <div class="checkbox">
          <label><input type="checkbox" value="immunotherapy">Immunotherapy only</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="all">All</label>
        </div>
        <h5>Prior immunotherapy</h5>
        <div class="checkbox">
          <label><input type="checkbox" value="yes">Allowed</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="no">Not allowed</label>
        </div>
      </div>
      <div class="col-sm-4">
        <h5>Advanced search</h5>
        <div class="form-group">
          <input type="text" class=form-control" placeholder="NCT number" id="adv-nct">
        </div>
        <div class="form-group">
          <input type="text" class=form-control" placeholder="Therapy Name" id="adv-therapy">
        </div>
        <div class="form-group">
          <input type="text" class=form-control" placeholder="Search any text" id="adv-texty">
        </div>
      </div>
    </div>
    <div class="row centered">
      <div class="col-sm-2 col-md-offset-5">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var trials = {{ trials|safe }};
    var locations = _.uniq(_.flatten(_.map(trials.data, function(item) { return item[4]; }))).sort();

    var geoSelect = $('#geo');
    _.forEach(locations, function(location) {
      geoSelect.append($('<option/>', {value: location, text: location}));
    });
  </script>
{% endblock %}
