{% extends "base.html" %}
{% load staticfiles %}
{% load user_text %}

{% block content %}
  <div class="container welcome">
    <form id="searchForm" action="trials/" method="GET">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="jumbo-search"
                   autofocus
                   name="searchTerm"
                   placeholder="Search for open colorectal cancer clinical trials..." id="adv-texty">
          </div>
        </div>
      </div>
      <div class="row welcome-filters">
        <div class="col-sm-4">
          <!--
          <h5>Type of cancer</h5>
          <div class="checkbox">
            <label><input type="checkbox" value="colon">Colon cancer</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="rectal">Rectal cancer</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="colorectal" disabled>Colorectal</label>
          </div>
          -->
          <h5>Geography</h5>
          <div class="checkbox">
            <select id="geo" data-placeholder="All Locations..." name="location" multiple style="width: 150px"></select>
          </div>
          <h5>Phase</h5>
          <div class="checkbox">
            <select id="adv-phase" name="phase" data-placeholder="All Phases..." multiple style="width: 150px"></select>
          </div>
          <h5>Program Status</h5>
          <div class="checkbox">
            <select id="adv-status" name="programStatus" data-placeholder="All statuses..." multiple style="width: 150px"></select>
          </div>
        </div>
        <div class="col-sm-4">
          <h5>Trial type</h5>
          <div class="checkbox">
            <label><input type="checkbox" name="treatmentType" value="immunotherapy">Immunotherapy only</label>
          </div>
          <h5>Prior immunotherapy</h5>
          <div class="checkbox">
            <label><input type="checkbox" name="priorIo" value="yes">Allowed</label>
          </div>
        </div>
        <div class="col-sm-4">
          <h5>Advanced search</h5>
          <div class="form-group">
            <!-- type-ahead? -->
            <input type="text" class="form-control" name="nctNumber" placeholder="NCT number" id="adv-nct">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="therapyName" placeholder="Therapy Name" id="adv-therapy">
          </div>
        </div>
      </div>
      <br/>
      <div class="row centered">
        <button class="btn btn-primary btn-md col-sm-3 col-md-offset-9" type="submit">Search</button>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    var trials = {{ trials|safe }};
    var locations = _.uniq(_.flatten(_.map(trials, function(item) { return item.locations; }))).sort();
    var phases = _.uniq(_.map(trials, function(item) { return item.phase; })).sort();
    var statuses = _.uniq(_.map(trials, function(item) { return item.program_status; })).sort();

    var geoSelect = $('#geo');
    _.forEach(locations, function(location) {
      geoSelect.append($('<option/>', {value: location, text: location}));
    });

    $("#geo").chosen();

    var phaseSelect = $('#adv-phase');
    _.forEach(phases, function(phase) {
      phaseSelect.append($('<option/>', {value: phase, text: phase}));
    });

    $("#adv-phase").chosen();

    var statusSelect = $('#adv-status');
    _.forEach(statuses, function(status) {
      statusSelect.append($('<option/>', {value: status, text: status}));
    });

    $("#adv-status").chosen();

    // get and restore form data. taken from:
    // http://stackoverflow.com/questions/1489486/jquery-plugin-to-serialize-a-form-and-also-restore-populate-the-form/1490431#1490431
    // (and subsequently modified to actually work)
    $.fn.values = function(data) {
        var els = this.find(':input').get();
        if(arguments.length === 0) {
            // return all data
            data = {};

            $.each(els, function() {
                if (this.name && !this.disabled && (this.checked
                                || /select|textarea/i.test(this.nodeName)
                                || /text|hidden|password/i.test(this.type))) {
                    data[this.name] = $(this).val();
                }
            });
            return data;
        } else {
            $.each(els, function() {
                if (this.name && data[this.name]) {
                    var names = data[this.name];
                    var $this = $(this);
                    if(this.type == 'checkbox' || this.type == 'radio') {
                        var val = $this.val();
                        var found = false;
                        if (!_.isArray(names)) {
                            names = [names];
                        }
                        for(var i = 0; i < names.length; i++){
                            if(names[i] == val){
                                found = true;
                                break;
                            }
                        }
                        $this.prop("checked", found);
                    } else {
                        $this.val(names);
                    }
                }
            });
            return this;
        }
    };


    var existingCookie = Cookies.getJSON('search-query');
    if (existingCookie !== undefined) {
      //don't reset from cookies until multiselect is working
      //  $("#searchForm").values(existingCookie);
      //  $('select').trigger("chosen:updated");

    }

    $("#searchForm").submit(function(e) {
       var serializedForm = $(this).values();
       Cookies.set('search-query', serializedForm);
       return true;
    });
  </script>
{% endblock %}
